{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1>S'enregistrer</h1>

    <div class="registerUn">
        {{ form_start(registrationForm ) }}
        <br><br>
        <div class="registerDeux">
            {{ form_row(registrationForm.username,{
                label : 'Login : '
            } ) }}
            <br><br>
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe : '
            }) }}
        </div>

        <br><br>
        {{ form_row(registrationForm.agreeTerms, {
            label: 'Accepter les conditions : '
        }) }}
        <br><br>

        <button type="submit" class="btn">S'enregistrer</button>
        {{ form_end(registrationForm) }}
    </div>
{% endblock %}
