{% extends 'base.html.twig' %}

{% block title %}Hello CreerSortieController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>



        <h1>Créer une sortie</h1>
    <div>
        {{ form_start(sortieForm) }}
        <br>
            <div>
        Sortie : {{ form_widget(sortieForm.nomDeLaSortie) }}
            <div>
        Date de la sortie : {{ form_widget(sortieForm.dateLaSortie) }}
        Date limite d'inscription : {{ form_widget(sortieForm.dateLimiteInscription) }}
            </div>
                <br>
            </div>
        <br>
        Nombre de places{{ form_widget(sortieForm.place)}}
        Durée : {{ form_widget(sortieForm.duree) }}
        Description et Infos : {{ form_widget(sortieForm.descriptionEtInfos) }}
            </div>
        <br>
            <div>
        Campus : {{ form_widget(sortieForm.campus) }}
        Ville : {{ form_widget(sortieForm.ville) }}
        lieu  : {{ form_widget(sortieForm.lieu) }}
        Rue : {{ form_widget(sortieForm.rue) }}
            </div>
    </div>
    <br>
    <br>

        <input type="hidden" name="token" value="{{ csrf_token('form') }}"/>

        <div class="boutonSortie">
            <button type="submit" class="btn">S'enregistrer</button>
            <input type="submit" name="Publier la sortie" id="Publier la sortie" value="Publier la sortie">
            <input type="reset" name="Annuler" id="Annuler" value="Annuler">
        </div>
        {{ form_end(sortieForm, {'render_rest': false}) }}

    </div>
{% endblock %}
